* {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    /* height: 100%; */
    /* full window width */
    text-align: center;
}

body {
    font-display: 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1 {
    color: black;
    font-size: 10em;
}

.menu-display {
    margin: 0 5px 0 5px;
}

.card-layout {
    width: 220px;
    height: 250px;
}

.card {
    width: 95%;
}

.card-render {
    margin: 0 0 0 60px;
}

.card-single {
    margin: 0 0 50px 0;
}

.btn {
    display: inline-block;
    color: #fff;
    padding: 0.1rem 1rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    text-decoration: none;
}